body{
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#trainSchedule{
    text-align: center;
    width: 100%;
}

#timer{
    text-align: center;
    font-size: 30px;
}


.content{
    background-color: #EAEAEA;
    margin: 40px 0px;
    height: 80%;
    width: 80%;
    padding: 20px;
}

#form{
    background-color: white;
    margin: 20px 0px;
}

#table{
    background-color: white;
}